body {
  background-image: url("achtergrond.jpg");
  background-size: cover;
  font-weight: bold;
}

h1 {
  color: red;
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
}

p {
  color: lightgray;
  font-size: 25px;
  text-align: center;
}
